body{
    background: url("main-bg.jpg") #000 no-repeat;
    position: fixed;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    color: #ffe919;
    font-size: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
img{
    width: 900px;
    height: auto;
}
p{
    margin: 20px;
    transition: 300ms;
    transition-timing-function: linear;
    -webkit-transition: 300ms;
    -webkit-transition-timing-function: linear;
}
audio{
    volume: 0.1;
    position: fixed;
    top: 95%;
    left: 0;
}
.content{
    width: 100%;
    margin: 0 auto;
    -o-transition: transform 1s linear;
    -ms-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    -webkit-transition: transform 1s linear;
    transition: transform 1s linear;

}
.perspective{
    -o-transform: perspective(400px) rotateX(30deg);
    -ms-transform: perspective(400px) rotateX(30deg);
    -moz-transform: perspective(400px) rotateX(30deg);
    -webkit-transform: perspective(400px) rotateX(30deg);
    transform: perspective(400px) rotateX(30deg);
    perspective-origin: 50% 50%;

}
.in-space{

    -o-transform: perspective(400px) rotateX(30deg) translateY(-11111px);
    -ms-transform: perspective(400px) rotateX(30deg) translateY(-11111px);
    -moz-transform: perspective(400px) rotateX(30deg) translateY(-11111px);
    -webkit-transform: perspective(400px) rotateX(30deg) translateY(-11111px);
    transform: perspective(400px) rotateX(30deg) translateY(-11111px);
    -o-transition: transform 10s ease-out;
    -ms-transition: transform 10s ease-out;
    -moz-transition: transform 10s ease-out;
    -webkit-transition: transform 10s ease-out;
    transition: transform 20s ease-out;
}

.hidden{
    opacity: 0;

}