.ad{
  background-image: linear-gradient(to right, #211b19, #4e3427);
  max-height: 54px;
  padding: 48px 375px;
}
.ad__button_align_right{
  float: right;
}

.ad__h2{
  font-family: RalewayRegular, sans-serif;
  font-size: 28px;
  & span{
    color: $button-color;
  }
}
.ad__descr{
  display: block;
  font-size: 18px;
  color: #615855;
}