.main-header {
  @include section;
  background-image: url('../images/header-bg.jpg');
  height: 1024px;
  position: relative;
  color: #fff;
  display: flex;
}

.logo {
  width: 180px;
  height: 60px;
  display: flex;
  cursor: pointer;
  @include absolute(40px, 0, 0, 376px);
  @include transition(200ms);
  &:hover {
    color: $color-hover;
  }
}

.logo__title {
  font-family: Raleway, sans-serif;
  font-size: 34px;
  font-weight: 400;
  padding-top: 14px;
}

.main-menu {
  @include absolute(60px, 0, 0, 775px);
}

.main-menu__list {
  list-style-type: none;
}

.main-menu__item {
  display: inline-block;
  font-size: 14px;
  margin-right: 30px;
}

.header-slider {
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  height: 645px;
  width: 100%;
  text-align: center;
}

// for ie
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header-slider{
    left: -200px;
  }
}

.header-slider__content {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-slider__moving-content{
  position: absolute;
}

.header-slider__content-title2 {
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.header-slider__content-title1 {
  font-family: Raleway, sans-serif;
  font-size: 52px;
  font-weight: 700;
}

.header-slider__content-description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.header-slider__content-button {
  width: 140px;
  margin: 0 auto;
}

.header-slider__left-arrow, .header-slider__right-arrow {
  width: 40px;
  height: 73px;
  margin: 0 150px;
  @include relative(50px);
  @include border-radius(50%);
  cursor: pointer;
  padding: 50px 66px;
  background: url('../images/slider-left-arrow.png') no-repeat center;
  @include transition(200ms);
  &:hover{
    background-color: rgba(255,255,255,0.2);
  }
}

.header-slider__left-arrow {
  float: left;

}

.header-slider__right-arrow {
  @include rotate(180deg);
  float: right;
}

.header-slider__radio-switcher-box {
  display: block;
  width: 98px;
  height: 10px;
  @include absolute(90%, 50%, 40px, 41%);
}

.header-slider__radio-switcher-item {
  border: 2px solid #212227;
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  background-color: #fff;
  opacity: 0.5;
  margin: 0 1px;
  @include border-radius(50%);
}

.header-slider__radio-switcher-item_active {
  border: 2px solid #d2c0ad;
  opacity: 1;
  background-color: transparent;
}
