.main-header{
  @include section;
  background-image: url('../images/header-bg.jpg');
  height: 1024px;
  position: relative;
  color: #fff;
  display: flex;
}
.logo{
  width: 180px;
  height: 60px;
  display: flex;
  @include absolute(40px, 376px);
  &:hover{
    color: $color-hover;
  }
}
.logo__title{
  font-family: Raleway, sans-serif;
  font-size: 34px;
  font-weight: 400;
  padding-top: 14px;
}

.main-menu{
  @include absolute(60px, 775px);
}
.main-menu__list{
  list-style-type: none;
}
.main-menu__item{
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}

.header-slider{
  position: relative;
  align-self: flex-end;
  height: 645px;
  width: 100%;
  text-align: center;
}
.header-slider__content{
  width: 600px;
  margin: 0 auto;
}
.header-slider__content-title2{
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: 500;
}
.header-slider__content-title1{
  font-family: Raleway;
  font-size: 52px;
  font-weight: 700;
}
