@import 'normalize';
@import 'variables';
@import 'header';
@import 'about';
@import 'ideas';
@import 'ad';
@import 'our-projects';
@import 'video-player';

.wrapper {
  width: $main-width;
  margin: 0 auto;
  color: $main-text-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

a {
  color: $main-text-color;
  text-decoration: none;
  @include transition(200ms);
  &:hover {
    color: $color-hover;
  }
}

.standart-button {
  background-color: $button-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: $font-color-lite;
  padding: 15px;
  box-shadow: inset -0px -3px 0 0 #736357;
  @include border-radius(3px);
  @include transition(200ms);
  &:hover {
    color: $font-color-lite;
    text-decoration: none;
    background: rgba(99, 86, 75, 0.8);
    box-shadow: inset -0px -3px 0 0 rgba(73, 63, 57, 0.8);
  }
}
.hidden{
  display: none;

}