@import 'normalize';
@import 'variables';
@import 'header';

.wrapper{
  width: $main-width;
  margin: 0 auto;
  color: $main-text-color;
}
a{
  color: $main-text-color;
  text-decoration: none;
  &:hover{
    color: $color-hover;
    text-decoration: underline;
  }
}
.standart-button{
  background-color: $button-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: $font-color-lite;
  padding: 15px;
  @include border-radius(3px);
  &:hover{
    color: $font-color-lite;
    text-decoration: none;
    background: transparent;
    border: 3px solid $button-color;
    padding: 13px 12px 11px 12px;
  }
}