.our-projects {
  padding: 80px 0;
  color: #8c8c8c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-projects__h2 {
  display: block;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555;
}

.our-projects__descr {
  display: block;
  text-align: center;
}

.our-projects__menu {
  margin-top: 35px;
  text-align: center;
  list-style-type: none;
}

.our-projects__menu-item {
  display: inline-block;
  border: solid 1px #ebebeb;
  padding: 10px 25px;
  @include transition(200ms);
  @include border-radius(3px);
  a {
    color: #8c8c8c;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
  }
  &:hover{
    cursor: pointer;
    background-color: $color-hover;
    a {
      color: #fff;
    }
  }
}

.our-projects__menu-item_active{
  background-color: #998675;
  a {
    color: #fff;
  }
}

.our-projects__content-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.our-projects__project{
  background-color: #000;
  text-align: left;
  max-height: 337px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  @include relative();
  &:hover {
    .our-projects__project-about {
      background-color: #362f2d;
      &:before {
        @include css-triangle(#362f2d, up, 10px, $position: absolute, $round: false);
        @include relative(-30px, 0, 0, -10px);
      }
    }
    .our-projects__project-name{
      color: #ffffff;
    }
    .our-projects__project-descr{
      color: #c7b299;
    }
    .our-projects__project-image{
      opacity:0.3; -moz-opacity:0.3;
      filter:alpha(opacity=40);
    }
    .our-projects__project-link{
      opacity: 1;
    }
    .our-projects__project-search{
      opacity: 1;
    }
  }
}

.our-projects__project-image{
  width: 370px;
  height: 237px;
  opacity:1.0; -moz-opacity:1.0;
  filter:alpha(opacity=100);
  @include transition();
}

.our-projects__project-link{
  display: inline-block;
  background-image: url("../images/projects/link.png");
  width: 26px;
  height: 26px;
  @include transition();
  @include absolute(106px, 0, 0, 200px);
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  &:hover{
    background-image: url("../images/projects/link-hover.png");
  }
}

.our-projects__project-search{
  display: inline-block;
  background-image: url("../images/projects/lupa.png");
  width: 26px;
  height: 25px;
  @include transition();
  @include absolute(106px, 0, 0, 145px);
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  &:hover{
    background-image: url("../images/projects/lupa-hover.png");
  }
}

.our-projects__project-about{
  background-color: #fbfaf8;
  width: 310px;
  height: 60px;
  padding: 20px 30px;
  @include transition();
  &:before{
    content: '';
    @include transition();
    display: block;
    width: 30px;
    @include css-triangle(#fbfaf8, up, 10px, $position: absolute, $round: false);
    @include relative(-30px, 0, 0, -10px);
  }
}

.our-projects__project-name{
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
  margin-bottom: 10px;
  @include transition();
}

.our-projects__project-descr{
  display: block;
  font-size: 14px;
  color: #d1d1d1;
  @include transition();
}

.our-projects__button{
  display: inline-block;
  margin: 30px auto 0;
  max-width: 170px;
  align-self: center;
}