$main-width: 1920px;
$main-text-color: #fff;
$font-color-lite: #fff;
$color-hover: #c7b29a;
$button-color: #998675;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}
@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $round {
    border-radius: 3px;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}

@mixin absolute($t: 0, $r: 0, $b: 0, $l: 0) {
  position: absolute;
  top: $t;
  left: $l;
  bottom: $b;
  right: $r;
}
@mixin relative($t: 0, $r: 0, $b: 0, $l: 0) {
  position: relative;
  top: $t;
  left: $l;
  bottom: $b;
  right: $r;
}

@mixin section {
  width: 100%;
}
@mixin transition($ms){
  transition: $ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: $ms;
  -webkit-transition-timing-function: ease-in-out;
}